body {
    overflow-x: hidden;
    background: #333 !important;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #333333;
    color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.download {
    background-color: orange;
    color: #333333;
    font-weight: bold;
    &:hover {
        background-color: orangered;
        color: #f1f1f1;
    }
}

.container2 {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#banner {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    background-color: #111111;
    color: rgba(255, 255, 255, 0.5);
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-image: url("../../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
    display: -ms-flexbox;
    height: 655px !important;
    min-height: 35rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    a {
        color: #f1f1f1;
        text-decoration: none;
        &:hover {
            color: #0099ff;
        }
    }
}

#banner h1 {
    text-align: left;
    font-size: 400%;
    color: white;
    font-weight: bold;
    z-index: 1;
}

#banner h3 {
    text-align: left;
    font-size: 150%;
    color: white;
    // font-weight: bold;
    z-index: 1;
}

#banner>.inner {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    opacity: 1;
    position: relative;
    z-index: 3;
}

#banner>.inner> :last-child {
    margin-bottom: 0;
}

#banner video {
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(50%) translateY(50%);
    -ms-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
    bottom: 50%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    right: 50%;
    width: auto;
}

#aboutMOJ {
    background-color: rgb(233, 233, 233);
    color: rgb(102, 102, 102);
    letter-spacing: 1.5px;
    padding: 25px;
    h3 {
        font-weight: bold;
        font-size: 150%;
    }
    h1 {
        font-weight: bold;
    }
    p {
        font-size: 100%;
    }
}

#aboutMOJ2 {
    color: rgb(102, 102, 102);
    letter-spacing: 1.5px;
    padding: 25px;
    h3 {
        font-weight: bold;
        font-size: 150%;
    }
    h1 {
        font-weight: bold;
    }
    p {
        font-size: 100%;
    }
}

#galerijaMOJ {
    width: 70%;
    padding: 25px;
    border-radius: 25px;
    background-color: black;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* The grid: Four equal columns that floats next to each other */

.column {
    float: left;
    width: 25%;
    padding: 10px;
}


/* Style the images inside the grid */

.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* The expanding image container */

.container {
    position: relative;
    display: none;
}


/* Expanding image text */

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}


/* Closable button inside the expanded image */

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

#brojMOJ {
    color: rgb(233, 233, 233);
    background-color: rgb(102, 102, 102);
    letter-spacing: 1.5px;
    p {
        font-size: 120%;
    }
}

.counter-section {
    &:hover {
        background: #333333;
        color: #f1f1f1;
    }
}

.slideanim {
    visibility: hidden;
    a {
        color: #333333;
        &:hover {
            color: black;
            text-decoration: none;
        }
    }
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

#contactMOJ {
    padding: 30px;
    background-color: lightseagreen;
    color: white;
    &:hover {
        background-color: purple;
    }
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: #333333;
    color: #52baff;
    #emailac,
    #textac {
        background-color: #cecece;
        color: #333333;
    }
}

#fast {
    background-color: #0099ff;
    color: white;
    &:hover {
        background-color: purple;
    }
}

#zatvori {
    color: white;
    font-weight: bold;
}

#glifMOJ {
    border-top: #333333 5px solid;
    border-bottom: #333333 5px solid;
    background-color: #f1f1f1;
    color: #333333;
    text-align: center;
    padding: 25px;
    font-weight: bold;
    font-size: 120%;
    &:hover {
        cursor: pointer;
    }
}

#tablacMOJ {
    cursor: pointer;
    text-align: center;
    padding: 35px;
    color: #e9e9e9;
    background: #333;
    border: 2px solid #e9e9e9;
    h6 {
        letter-spacing: 1.5px;
        font-size: 140%;
        font-weight: bold;
        color: #e9e9e9;
    }
    a {
        color: #e9e9e9;
        text-decoration: none;
        &:hover {
            color: #333;
        }
    }
    &:hover {
        h6 {
            color: #333;
        }
        background: #e9e9e9;
    }
}

#headerMOJ {
    background-color: #e9e9e9 !important;
    padding: 25px;
}

#jumbacMOJ {
    background: #e9e9e9;
    color: rgb(92, 92, 92);
    letter-spacing: 1.5px;
    padding: 25px;
}


/* #jumbacMOJ {
    background-color: #e9e9e9;
    color: rgb(92, 92, 92);
    letter-spacing: 1.5px;
    padding: 25px
} */

#jumbacMOJ h3 {
    font-weight: bold;
    font-size: 150%
}

#jumbacMOJ h1 {
    font-weight: bold
}

#jumbacMOJ p {
    font-size: 100%
}

.headerMOJ {
    background: #e9e9e9;
    color: rgb(92, 92, 92);
    letter-spacing: 1.5px;
    padding: 25px;
    h2 {
        font-weight: bold;
        font-size: 150%
    }
    p {
        font-size: 100%
    }
}

.card {
    background: #e9e9e9 !important;
    color: rgb(92, 92, 92);
    letter-spacing: 1.5px;
    h2 {
        font-weight: bold;
        font-size: 150%
    }
    p {
        font-size: 100%
    }
}